*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    overflow: hidden;
    background: linear-gradient(45deg,rgb(8, 11, 163),rgb(230, 16, 144));
    font-family:  Helvetica, sans-serif;
    color: rgb(211, 211, 211);
    display:flex;
    align-items:center;
    
}

.container{
    width: 350px;
    height: 400px;
   

}

.card{
    height: 100%;
    width: 100%;
     background: url(https://images.unsplash.com/photo-1577219491135-ce391730fb2c?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NXx8Y2hlZnxlbnwwfHwwfHx8MA%3D%3D&w=1000&q=80);
background-repeat:no-repeat;
    background-size:cover;
    box-shadow:0 0 5px 2px rgba(50,50,50,0.25);
    border-radius:1rem;
    position:relative;
    transform-style:preserve-3d;
}



.card:hover{
    cursor:pointer;
    transform:rotateY(180deg);
    transition:transform 1500ms;
}

.back{
    background-color:#3a3a3a;
    transform:rotateY(180deg);
     height: 100%;
    width: 100%;
    position: absolute;
    backface-visibility:hidden;
    display:flex;
    justify-content:center;
    align-items:center;
    gap:2rem;
}

.card-1{
    position:relative;
    left:500px;
    top:-400px;
    height:100%;
    width:100%;
     background: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRbGtaefbu2pL-NrJ0eNiHc0O2qeOYVlsV3_Q&usqp=CAU);
background-repeat:no-repeat;
    background-size:cover;
    box-shadow:0 0 5px 2px rgba(50,50,50,0.25);
    border-radius:1rem;
    position:relative;
    transform-style:preserve-3d;
    background-position:center;

}

.back-1{
     background-color:#3a3a3a;
    transform:rotateY(180deg);
     height: 100%;
    width: 100%;
    position: absolute;
    backface-visibility:hidden;
    display:flex;
    justify-content:center;
    align-items:center;
    gap:2rem;
}

.card-1:hover {
    cursor:pointer;
    transform:rotateY(180deg);
    transition:transform 1500ms;
}

.card-2{
    height:100%;
    width:100%;
     position:relative;
    left:140vh;
    top:-108vh;
       background: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRsycZor1S7-S9TEuH7g-P8i-o42z7rA6cQzg&usqp=CAU);
background-repeat:no-repeat;
    background-size:cover;
    box-shadow:0 0 5px 2px rgba(50,50,50,0.25);
    border-radius:1rem;
    position:relative;
    transform-style:preserve-3d;
    background-position: center;
    
    
}

.back-2{
     background-color:#3a3a3a;
    transform:rotateY(180deg);
     height: 100%;
    width: 100%;
    position: absolute;
    backface-visibility:hidden;
    display:flex;
    justify-content:center;
    align-items:center;
    gap:2rem;
}

.card-2:hover {
    cursor:pointer;
    transform:rotateY(180deg);
    transition:transform 1500ms;
}


h1{
    position:relative;
    top:-300px;
    left:700px;
}

